<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistema Magnífico de Calculos 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">+/-</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-item lines="none">
    <ion-label>
      {{expressao}}
    </ion-label>
  </ion-item>
</ion-card>

  <ion-card>
  <ion-grid>
    <ion-row>
      <ion-button shape="round" (click)="limpar()">AC</ion-button>
      <ion-button shape="round" (click)="addParentesisL()" >(</ion-button >
      <ion-button shape="round" (click)="addParentesisR()" >)</ion-button >
      <ion-button shape="round" fill="outline" (click)="addDivisao()">/</ion-button>
    </ion-row>

    <ion-row>
      <ion-button shape="round" (click)="addNum(7)">7</ion-button >
      <ion-button shape="round" (click)="addNum(8)">8</ion-button>
      <ion-button shape="round" (click)="addNum(9)">9</ion-button>
      <ion-button shape="round" fill="outline" (click)="addMultiplicacao()">X</ion-button>
    </ion-row>

    <ion-row>
      <ion-button shape="round" (click)="addNum(4)">4</ion-button>
      <ion-button shape="round" (click)="addNum(5)">5</ion-button>
      <ion-button shape="round" (click)="addNum(6)">6</ion-button>
      <ion-button shape="round" fill="outline" (click)="addSubtracao()">-</ion-button>
    </ion-row>

    <ion-row>
      <ion-button shape="round" (click)="addNum(1)">1</ion-button>
      <ion-button shape="round" (click)="addNum(2)">2</ion-button>
      <ion-button shape="round" (click)="addNum(3)">3</ion-button>
      <ion-button shape="round" fill="outline" (click)="addSoma()">+</ion-button>
    </ion-row>

    <ion-row>
      <ion-button shape="round" (click)="addNum(0)">0</ion-button>
      <ion-button shape="round">.</ion-button>
      <ion-button shape="round">←</ion-button>
      <ion-button shape="round" fill="outline" (click)="calcular()">=</ion-button>
    </ion-row>
  </ion-grid>
</ion-card>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>


